# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Обучение\Нетология\10. Основы PHP\Домашние работы\bphp_3.3\php-heroku-template-simple\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
